@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "mulish-light";
    src: url("/fonts/Mulish/Mulish-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "mulish-regular";
    src: url("/fonts/Mulish/Mulish-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "mulish-semibold";
    src: url("/fonts/Mulish/Mulish-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "mulish-bold";
    src: url("/fonts/Mulish/Mulish-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "mulish-extrabold";
    src: url("/fonts/Mulish/Mulish-ExtraBold.ttf") format("truetype");
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
