@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@plugin 'tailwindcss-animate';

@theme {
  --aspect-*: initial;
  --aspect-1: 1;
  --aspect-2: 2;
  --aspect-3: 3;
  --aspect-4: 4;
  --aspect-5: 5;
  --aspect-6: 6;
  --aspect-7: 7;
  --aspect-8: 8;
  --aspect-9: 9;
  --aspect-10: 10;
  --aspect-11: 11;
  --aspect-12: 12;
  --aspect-13: 13;
  --aspect-14: 14;
  --aspect-15: 15;
  --aspect-16: 16;
  --aspect-auto: auto;
  --aspect-square: 1 / 1;
  --aspect-video: 16 / 9;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --font-mulish-light: var(--font-mulish-light);
  --font-mulish-regular: var(--font-mulish-regular);
  --font-mulish-semibold: var(--font-mulish-semibold);
  --font-mulish-bold: var(--font-mulish-bold);
  --font-mulish-extrabold: var(--font-mulish-extrabold);
  --font-avenir-black: var(--font-avenir-black);
  --font-avenir-book: var(--font-avenir-book);
  --font-avenir-heavy: var(--font-avenir-heavy);
  --font-avenir-light: var(--font-avenir-light);
  --font-avenir-regular: var(--font-avenir-regular);
  --font-lato-bold: var(--font-lato-bold);
  --font-lato-bold-italic: var(--font-lato-bold-italic);
  --font-lato-regular: var(--font-lato-regular);
  --font-lato-light: var(--font-lato-light);
  --font-lato-light-italic: var(--font-lato-light-italic);
  --font-lato-semibold: var(--font-lato-semibold);
  --font-lato-semibold-italic: var(--font-lato-semibold-italic);

  --color-primary: #6faa26;
  --color-secondary: #58b9d1;
  --color-black: #1a1a1a;
  --color-light-blue: #a7cdd1;
  --color-grey: #e2e2e2;
  --color-light-white: #fdfdfd;
  --color-black180: #25313c;
  --color-grey-black180: #6d7d8b;
  --color-grey-white180: #bbc8d4;
  --color-white180: #dae3ea;
  --color-blue180: #5a4ff3;
  --color-green180: #00c04d;
  --color-yellow180: #ffbb00;
  --color-red180: #ed455d;

  --animate-moving-pointer: downPointer 2s ease-in-out infinite;

  @keyframes downPointer {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(50%);
    }
    90% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@theme {
  --aspect-*: initial;
  --aspect-1: 1;
  --aspect-2: 2;
  --aspect-3: 3;
  --aspect-4: 4;
  --aspect-5: 5;
  --aspect-6: 6;
  --aspect-7: 7;
  --aspect-8: 8;
  --aspect-9: 9;
  --aspect-10: 10;
  --aspect-11: 11;
  --aspect-12: 12;
  --aspect-13: 13;
  --aspect-14: 14;
  --aspect-15: 15;
  --aspect-16: 16;
  --aspect-auto: auto;
  --aspect-square: 1 / 1;
  --aspect-video: 16 / 9;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --font-mulish-light: var(--font-mulish-light);
  --font-mulish-regular: var(--font-mulish-regular);
  --font-mulish-semibold: var(--font-mulish-semibold);
  --font-mulish-bold: var(--font-mulish-bold);
  --font-mulish-extrabold: var(--font-mulish-extrabold);
  --font-avenir-black: var(--font-avenir-black);
  --font-avenir-book: var(--font-avenir-book);
  --font-avenir-heavy: var(--font-avenir-heavy);
  --font-avenir-light: var(--font-avenir-light);
  --font-avenir-regular: var(--font-avenir-regular);
  --font-lato-bold: var(--font-lato-bold);
  --font-lato-bold-italic: var(--font-lato-bold-italic);
  --font-lato-regular: var(--font-lato-regular);
  --font-lato-light: var(--font-lato-light);
  --font-lato-light-italic: var(--font-lato-light-italic);
  --font-lato-semibold: var(--font-lato-semibold);
  --font-lato-semibold-italic: var(--font-lato-semibold-italic);

  --color-primary: #6faa26;
  --color-secondary: #58b9d1;
  --color-black: #1a1a1a;
  --color-light-blue: #a7cdd1;
  --color-grey: #e2e2e2;
  --color-light-white: #fdfdfd;
  --color-black180: #25313c;
  --color-grey-black180: #6d7d8b;
  --color-grey-white180: #bbc8d4;
  --color-white180: #dae3ea;
  --color-blue180: #5a4ff3;
  --color-green180: #00c04d;
  --color-yellow180: #ffbb00;
  --color-red180: #ed455d;

  --animate-moving-pointer: downPointer 2s ease-in-out infinite;

  @keyframes downPointer {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(50%);
    }
    90% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@media (min-width: 768px) {
  /* Your CSS code for minimum width 768px goes here */
  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar:hover {
    width: 9px;
  }

  ::-webkit-scrollbar-thumb {
    /* background: linear-gradient(transparent, 30%, #58b9d1, #73b743, 70%, transparent); */
    background: linear-gradient(transparent, 10%, #1a1a1a, 90%, transparent);
    border-radius: 10px;
  }

  /* background */
  ::-webkit-scrollbar-track {
    background: linear-gradient(#58b9d1, #73b743);
    /* background: transparent; */
    border-radius: 15px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1a1a1a;
  }
}

@media (max-width: 767px) {
  /* Your CSS code for minimum width 768px goes here */
  ::-webkit-scrollbar {
    width: 0px;
  }
}

.text-outline-decoration {
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: black; /* Outline color */
}
@media (min-width: 1024px) {
  .text-outline-decoration {
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
  }
}

.swiper-pagination-bullet {
  width: 10px !important;;
  height: 10px !important;;
  border-radius: 50%;
  background: white !important;
  opacity: 0.2;
}

.swiper-pagination-bullet-active {
  width: 24px !important;
  height: 10px !important;
  border-radius: 20px !important;
  background: white !important;
}

.gsap-initial {
  opacity: 0.8337;
  transform: translate3d(0, 0, 0);
}

/* .lenis.lenis-smooth iframe {
  pointer-events: none !important;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none !important;
} */

/* html {
  scroll-behavior: auto !important;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
